@import "../globals/global";
.panel {
  float: left;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $themeColor;
  transition: width 0.4s ease-in-out;
  padding: 3rem 2rem 4rem 3rem;
  .user {
    display: flex;
    justify-content: space-between;

    .userPhotoName {
      display: flex;
      flex: 2;
      .image {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        background-image: url("../../asset/person.jpeg");
        background-size: contain;
        -webkit-box-shadow: 10px 10px 52px -20px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: 10px 10px 52px -20px rgba(0, 0, 0, 0.72);
        box-shadow: 10px 10px 52px -20px rgba(0, 0, 0, 0.72);
      }

      p {
        align-self: center;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
    }
    .icon {
      width: 4rem;
      height: 4rem;
    }
  }

  .panelList {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    align-self: center;
    .fir {
      padding-top: 1.7rem;
      display: flex;
      font-family: "Roboto", sans-serif;
      h5 {
        font-weight: 200;
        font-size: calc(0.2rem + 1vw);
      }
      img {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
}
