@import "../../../globals/global";
.userInput {
  width: 100%;
  height: 10vh;
  position: relative;
  .bar {
    border-radius: 50px;
    width: 80%;
    background-color: white;
    height: 7vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;

    .microphone {
      width: 10%;
      height: 100%;
      padding: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .enterText {
      width: 85%;
      height: 100%;
      position: relative;
      margin-left: -2rem;
      input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        text-decoration: none;
        border: none;
        padding-left: 2rem;
        color: $blueTextColor;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $blueTextColor;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          letter-spacing: 1.5px;
        }
      }
    }
    .go {
      width: 12%;
      height: 150%;
      border-radius: 100%;
      position: absolute;
      left: 90%;
      bottom: -20%;
      background-color: $blueColor;
      padding: 2.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
