$header1: 5rem;
$header2: 4rem;
$header3: 3rem;
$header4: 2.5rem;
$header5: 2rem;
$text: 2rem;
$chatBackgroundColor: #f4f7ff;
$purpleColor: #e3e3ff;
$themeColor: #fefdff;
$blueColor: #7252f1;
$blueTextColor: #6260b5;
$pinkColor: #ec6bb0;

@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@import "../globals/global";
