$header1: 5rem;
$header2: 4rem;
$header3: 3rem;
$header4: 2.5rem;
$header5: 2rem;
$text: 1.5rem;
$chatBackgroundColor: #f4f7ff;
$purpleColor: #e3e3ff;
$themeColor: #fefdff;
$blueColor: #7252f1;
$blueTextColor: #6260b5;
$pinkColor: #ec6bb0;

@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4 {
  font-size: $header4;
}

h5 {
  font-size: $header5;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li,
p,
a,
text {
  font-size: $text;
}
